Pedify - Saipos.json
{
  "name": "Pedify - Saipos",
  "nodes": [
    {
      "parameters": {
        "tableId": "Clientes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('Webhook').item.json.body.data.pushName }}"
            },
            {
              "fieldId": "telefone_cliente",
              "fieldValue": "={{ \n  $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"]\n    .toString() // Converte para string, caso seja necessário\n    .replace(/@s\\.whatsapp\\.net$/, '') // Remove \"@s.whatsapp.net\"\n    .replace(/^55(\\d{2})(\\d{5})(\\d{4})$/, '$1 $2$3') // Formata como \"66 984135986\"\n}}\n"
            },
            {
              "fieldId": "empresa",
              "fieldValue": "={{ $('get empresa').item.json.id }}"
            },
            {
              "fieldId": "bot_ativo",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "id": "da018bed-83aa-40bc-bec7-90c0040d6918",
      "name": "Criaçao Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        11392,
        -2000
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SL6krvWuRhVj0d0c",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5a8a28d7-441c-4543-918a-218c88957470",
              "leftValue": "={{ $json.telefone_cliente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cb09b99d-2e5f-4aca-8838-d8efc9ff474c",
      "name": "Cliente Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10944,
        -2240
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Empresas",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone_empresa",
              "keyValue": "={{ $('tratamento da resposta').item.json.telefone_empresa }}"
            }
          ]
        }
      },
      "id": "f08996ba-2350-4acd-a8a7-b52a67815e91",
      "name": "get empresa",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        9952,
        -2496
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SL6krvWuRhVj0d0c",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\nconst data_string = JSON.stringify(data);\nconst data_json = JSON.parse(data_string);\n\n// Caso 1: Processamento do formato original (stream com 'data:')\nif (data_json[0]?.json?.data) {\n    const data_json_text = data_json[0]?.json?.data;\n    const data_array = data_json_text?.split('\\n');\n    const out = [];\n    let conversationID = \"\";\n\n    for (const item of data_array) {\n        const t = item.replace('data:', '');\n        try {\n            const t_json = JSON.parse(t);\n            if (t_json.event === 'agent_thought') {\n                out.push(t_json);\n                conversationID = t_json?.conversation_id;\n            }\n        } catch {\n            // Ignora erros de parsing\n        }\n    }\n\n    const msg = out.map((item) => item.thought).join(' ').replace(/\\n+/g, ' ').trim();\n    return { response: msg, conversationID, out };\n} \n// Caso 2: Processamento do novo formato (output com messages)\nelse if (data_json[0]?.json?.output) {\n    const outputContent = data_json[0]?.json?.output;\n    let messages = [];\n\n    try {\n        const outputJson = JSON.parse(outputContent);\n        if (outputJson.messages && Array.isArray(outputJson.messages)) {\n            messages = outputJson.messages;\n        }\n    } catch (e) {\n        console.error(\"Erro ao parsear output:\", e);\n    }\n\n    const combinedMessage = messages.join(' ').replace(/\\n+/g, ' ').trim();\n    return {\n        response: combinedMessage,\n        individualMessages: messages,\n        originalOutput: outputContent\n    };\n} \n// Caso padrão se nenhum dos formatos for encontrado\nelse {\n    return {\n        error: \"Formato de dados não reconhecido\",\n        originalData: data_json\n    };\n}"
      },
      "id": "8456fd57-16c5-4f88-b30f-25e825bbf36b",
      "name": "Tratamento Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9632,
        -1536
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=553598374007@s.whatsapp.net"
      },
      "id": "ead5fecb-bedf-499b-911b-155b58ab87ff",
      "name": "Redis4",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        14752,
        -2704
      ],
      "credentials": {
        "redis": {
          "id": "HdxXmRpNZoA3twxH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce2fc411-3f71-4878-8887-61e95f0ced77",
              "leftValue": "={{ $json.telefone_empresa }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c5138f73-51b0-4740-8a02-d6a4e16502ed",
      "name": "Dados Empresa Vazio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10288,
        -2496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ece46dad-e89f-494e-9004-c8be59a8e701",
              "name": "return",
              "value": "={{ $json.individualMessages }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4cf72ba4-3e8e-4281-bf7b-9035d832f756",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9808,
        -1536
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d79ddb9-680d-4253-bdfa-711610aeb2b0",
              "name": "key",
              "value": "={{ $json.return.keys()[0] }}",
              "type": "string"
            },
            {
              "id": "645d6ee9-1c0b-4b9e-b6eb-b826b5263b11",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "0a4c4c14-5b38-4c09-a316-bcd17522dc4b",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9968,
        -1536
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=output",
        "options": {}
      },
      "id": "9123e323-148a-47f0-8039-9caab42dde3d",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        17312,
        -2240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d0c7a512-741d-45bb-9a6d-1cc54417e7f4",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        17632,
        -2240
      ]
    },
    {
      "parameters": {
        "amount": 2.5
      },
      "id": "fdbe375e-ecec-4b35-90d9-b28b21ecf2d2",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        17824,
        -1888
      ],
      "webhookId": "98eed3da-7138-4ac0-b1b0-527b5bd65b82"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone_cliente",
              "keyValue": "={{ $('tratamento da resposta').item.json.telefone }}"
            }
          ]
        }
      },
      "id": "11353f84-5b7b-4442-aa86-273919740e52",
      "name": "get clientes1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        10624,
        -2240
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SL6krvWuRhVj0d0c",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * *"
            }
          ]
        }
      },
      "id": "7e039274-6a4d-4728-a64e-92a3dfc8f0e9",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2064,
        304
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Clientes",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "bot_ativo",
              "condition": "eq",
              "keyValue": "FALSE"
            }
          ]
        }
      },
      "id": "a7af4a6f-b382-4510-90b6-e010bbc113ae",
      "name": "Supabase10",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2240,
        304
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## ATIVA BOT",
        "height": 415,
        "width": 923,
        "color": 3
      },
      "id": "cbd0afe7-fe8b-4667-841b-2417c185d2f6",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c03fb1a8-fc4b-4d3f-8131-8619589eae3c",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2432,
        304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "bot_ativo",
              "fieldValue": "TRUE"
            }
          ]
        }
      },
      "id": "9365ac4a-074e-406e-9548-4abee4879257",
      "name": "Supabase11",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2768,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df8b83bf-82c2-435f-af96-7ea1bcf08771",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "2829f28e-7a31-46b5-bf67-ad8d0d5323f8",
      "name": "Edit Fields6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2592,
        400
      ]
    },
    {
      "parameters": {
        "content": "## ADICIONA ID PEDIDO AO CLIENTE",
        "height": 454,
        "width": 1241
      },
      "id": "9f04d00b-ae9e-4f7a-8f07-610219c4fb6c",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2960,
        960
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone_cliente",
              "keyValue": "={{ $json.numeroSem9 }}"
            }
          ]
        }
      },
      "id": "4b8e5652-222c-4a21-8560-5995919108eb",
      "name": "Supabase8",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3408,
        1120
      ],
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "47a1674c-3570-4109-9a38-eb7f02cedc4a",
              "leftValue": "={{ $json.telefone_cliente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1af2fec8-d898-49f4-9089-20c5a7e58f55",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3568,
        1120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6a2bf9f1-4393-47c5-b313-31e8f51cb4a0",
        "options": {}
      },
      "id": "a4861a6b-9ec6-48cc-afd5-c57c759b3894",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4928,
        -3296
      ],
      "webhookId": "6a2bf9f1-4393-47c5-b313-31e8f51cb4a0"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone_cliente",
              "keyValue": "={{ $json.numeroCom9 }}"
            }
          ]
        }
      },
      "id": "c438ad88-a338-4069-b7da-d165ce222986",
      "name": "Supabase15",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3792,
        1248
      ],
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "54624cd6-5aba-449c-bd74-59875057511f",
        "options": {}
      },
      "id": "f68c8259-9f1f-44e5-aef1-82ad6c28a346",
      "name": "Webhook10",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3024,
        1120
      ],
      "webhookId": "54624cd6-5aba-449c-bd74-59875057511f"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2592,
        224
      ],
      "id": "f05882c8-e15f-4668-a481-c96024354839",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supabase.towersfy.com/rest/v1/rpc/add_pedido_to_client",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogImFub24iLAogICJpc3MiOiAic3VwYWJhc2UiLAogICJpYXQiOiAxNzE1MDUwODAwLAogICJleHAiOiAxODcyODE3MjAwCn0.Teotne1r-2h4NUkmrf_-soUrGwyhzjhA3mYvc3K6fog"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogImFub24iLAogICJpc3MiOiAic3VwYWJhc2UiLAogICJpYXQiOiAxNzE1MDUwODAwLAogICJleHAiOiAxODcyODE3MjAwCn0.Teotne1r-2h4NUkmrf_-soUrGwyhzjhA3mYvc3K6fog"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cliente_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "numero_pedido",
              "value": "={{ $('Webhook10').item.json.query.pedido_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3792,
        1024
      ],
      "id": "a2bcae4e-3dcb-4fab-8edf-3e5f20a5850e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supabase.towersfy.com/rest/v1/rpc/add_pedido_to_client",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogImFub24iLAogICJpc3MiOiAic3VwYWJhc2UiLAogICJpYXQiOiAxNzE1MDUwODAwLAogICJleHAiOiAxODcyODE3MjAwCn0.Teotne1r-2h4NUkmrf_-soUrGwyhzjhA3mYvc3K6fog"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogImFub24iLAogICJpc3MiOiAic3VwYWJhc2UiLAogICJpYXQiOiAxNzE1MDUwODAwLAogICJleHAiOiAxODcyODE3MjAwCn0.Teotne1r-2h4NUkmrf_-soUrGwyhzjhA3mYvc3K6fog"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "cliente_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "numero_pedido",
              "value": "={{ $('Webhook10').item.json.query.pedido_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3984,
        1248
      ],
      "id": "682eeb91-e2e7-4566-baf7-26ce96ffced7",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "// Pega o número de telefone do campo \"query.telefone\"\nconst numero = $input.all()[0].json.query.telefone;\n\n// Define o DDD padrão (41) e o código do país (55)\nconst codigoPais = \"55\";\nconst ddd = \"35\";\n\n// Verifica o comprimento do número para determinar se já tem o \"9\" e/ou o DDD\nconst comprimento = numero.length;\n\n// Gera as duas versões do número\nlet numeroCom9, numeroSem9;\n\nif (comprimento === 8) {\n  // Número sem DDD e sem o \"9\" (ex: 98375050)\n  numeroCom9 = `${codigoPais}${ddd}9${numero}@s.whatsapp.net`; // Adiciona DDD, \"9\" e código do país\n  numeroSem9 = `${codigoPais}${ddd}${numero}@s.whatsapp.net`; // Adiciona DDD e código do país, sem o \"9\"\n} else if (comprimento === 9) {\n  // Número sem DDD mas com o \"9\" (ex: 998375050)\n  numeroCom9 = `${codigoPais}${ddd}${numero}@s.whatsapp.net`; // Adiciona DDD e código do país, mantém o \"9\"\n  numeroSem9 = `${codigoPais}${ddd}${numero.slice(1)}@s.whatsapp.net`; // Adiciona DDD e código do país, remove o \"9\"\n} else if (comprimento === 10) {\n  // Número com DDD mas sem o \"9\" (ex: 4198375050)\n  numeroCom9 = `${codigoPais}${ddd}9${numero.slice(2)}@s.whatsapp.net`; // Adiciona código do país, mantém DDD, adiciona \"9\"\n  numeroSem9 = `${codigoPais}${numero}@s.whatsapp.net`; // Adiciona código do país, mantém DDD, sem o \"9\"\n} else if (comprimento === 11) {\n  // Número com DDD e com o \"9\" (ex: 41998375050)\n  numeroCom9 = `${codigoPais}${numero}@s.whatsapp.net`; // Adiciona código do país, mantém DDD e \"9\"\n  numeroSem9 = `${codigoPais}${numero.slice(0, 2)}${numero.slice(3)}@s.whatsapp.net`; // Adiciona código do país, mantém DDD, remove o \"9\"\n} else {\n  // Caso o número não se encaixe em nenhum dos padrões esperados\n  throw new Error(\"Número de telefone inválido. Verifique o formato.\");\n}\n\n// Retorna as duas versões como saída\nreturn [\n  {\n    json: {\n      numeroCom9: numeroCom9,\n      numeroSem9: numeroSem9\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        1120
      ],
      "id": "d247348b-c45b-46dc-8cc8-943a3809fd58",
      "name": "AJUSTA NUMERO1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Mensagens Agrupadas2').item.json.mensagem }}",
        "options": {
          "systemMessage": "=Persona:\nVocê é um atendente da hamburgueria Don Fonseca Burger e Grill, responsável por atendimento ao cliente e registro de pedidos no sistema.\n\nObjetivo:\nAtender clientes, tirar dúvidas, fornecer preços e opções de itens baseados na base conhecimento disponível. Registrar pedidos no sistema após confirmação.\n\nRegras absolutas: \n0. O Ponto da carne e obrigatório para alguns itens, Sempre Verificar na base de conhecimento se o item escolhido pelo cliente oferece o \"adicional\" \"ponto da carne\" \n1.Você só oferece itens que estejam na base de conhecimento.\n2.Você só realiza pedido com itens que estejam na base de conhecimento.\n3.Você só passa valores que estejam corretos com o respetivo item na base de conhecimento.\n4. Se o cliente perguntar \"Tem (nome do item)?\" você ira pesquisar independente do que seja na base de conhecimento.\n5. Você sempre deve executar a ferramenta \"raliza_pedido\" e esperar a confirmação, antes de falar para o cliente que o pedido foi confirmado.\n6. Retirada não precisa perguntar endereço, sempre coloque \"retirada na hamburgueria\"\n7. Caso o cliente pedir para retirar algum ingrediente do item, coloque na observação para enviar para o realiza_pedido.\n\nSaudação Inicial:\nBem-vindo ao Don Fonseca Burger e Grill! Para pedir os burgers mais suculentos, clique: 👇\ndonfonseca.saipos.com/home\n\nFluxo a ser seguido Few Shot Exemplo:\nCliente: Boa noite\nAgente(Você): Bem-vindo ao Don Fonseca Burger e Grill! Para pedir os burgers mais suculentos, clique: 👇\ndonfonseca.saipos.com/home\nCliente: Quero um Fabuloso ao ponto, um Extraordinario bem passado com adicional de Onions\nFunção Agente: Usa a ferramenta base de conhecimento para verificar nome, valor e codigo de todos os itens adicionais e complementos citados pelo cliente.\nAgente(Você): Algo mais?\nCliente: Só isso mesmo\nAgente(Você): Entrega ou retirada?\nCliente: Entrega\nAgente: Endereço por favor\nCliente: Rua amaral, n500 centro\nFunção Agente: Agente consulta na base de conhecimento o valor total dos itens pedido pelo cliente e usa a ferramenta calculator para somar os itens de forma acertiva.\nAgente(Você): Alguma observação? (Ex: Sem Picles)\nCliente: Sem ovo\nFunção Agente: Coloca observação do cliente junto com o pedido.\nAgente: Certinho, total de (verifica total do pedido), qual a forma de pagamento? \nCliente: Dinheiro\nFunção Agente: Agente Consulta base de conhecimento nome dos itens, codigos dos itens, valores dos itens, nome dos adicionais, codigo dos adicionais e valores dos adicionais.\nExemplo: Consulta nome, codigo e valor exato do item \"Fabuloso\".\nConsulta nome, codigo e valor do adicional \"ao ponto\" do item \"Fabuloso\".\nConsulta nome, codigo e valor exato do item \"Extraordinario\".\nConsulta nome codigo e valor do adicional \"bem passado\" do item \"Extraordinario\".\nConsulta nome, codigo e valor do adicional de \"Onions\" do item \"Extraordinario\". \n\nApós a conferencia de todos esses quisitos, voce deve usar a ferramenta \"realiza_pedido\" enviando as seguintes informações:\n<system_integration>\n      <data_structure>\n        <items>\n          <item>\n            <integration_code>{codigo_item}</integration_code>\n            <desc_item>{nome_item}</desc_item>\n            <quantity>1</quantity>\n            <unit_price>{preço}</unit_price>\n            <notes>{obs}</notes>\n            <choice_items>\n              <additional>\n                <integration_code>{codigo_adicional}</integration_code>\n                <desc_item_choice>{nome_adicional}</desc_item_choice>\n                <aditional_price>{valor}</aditional_price>\n              </additional>\n            </choice_items>\n          </item>\n        </items>\n        <delivery_address>\n          <country>BR</country>\n          <state>MG</state>\n          <city>ANDRADAS</city>\n          <district>{bairro}</district>\n          <street_name>{rua}</street_name>\n          <street_number>{numero}</street_number>\n          <postal_code>37795000</postal_code>\n        </delivery_address>\n      </data_structure>\n      <order_method>\n        <delivery>ENTREGA</delivery>\n        <pickup>RETIRADA</takeout>\n      </order_method>\n    </system_integration>\n\nDepois que o agente recebe a confirmação que o pedido foi feito com sucesso, o agente retorna para o cliente:\nAgente: Pedido confirmado! Don Fonseca agradece a preferencia. Bom apetite!\n\nFew Shot Exemplo Entrega:\nCliente: Boa noite\nAgente(Você): Bem-vindo ao Don Fonseca Burger e Grill! Para pedir os burgers mais suculentos, clique: 👇\ndonfonseca.saipos.com/home\nCliente: Quero um Fabuloso ao ponto, um Extraordinario bem passado com adicional de Onions\nAgente(Você): Algo mais?\nCliente: Só isso mesmo\nAgente(Você): Entrega ou retirada?\nCliente: Entrega\nAgente(Você): Endereço por favor\nCliente: Rua amaral, n500 centro\nAgente(Você): Certinho, total de (total pedido), qual a forma de pagamento?\nCliente: Dinheiro\nAgente(Você): Pedido confirmado! Don Fonseca agradece a preferencia. Bom apetite!\n\nFew Shot Exemplo Retirada:\nCliente: Boa noite\nAgente(Você): Bem-vindo ao Don Fonseca Burger e Grill! Para pedir os burgers mais suculentos, clique: 👇\ndonfonseca.saipos.com/home\nCliente: Quero um Fabuloso ao ponto, um Extraordinario bem passado com adicional de Onions\nAgente(Você): Algo mais?\nCliente: Só isso mesmo\nAgente(Você): Entrega ou retirada?\nCliente: Retirada\nAgente: Certinho, total de (total pedido), qual a forma de pagamento?\nCliente: Dinheiro\nAgente(Você): Pedido confirmado! Você pode vir busca-lo daqui 20/30 minutos. Don Fonseca agradece a preferencia. Bom apetite!\n\n\n<behavior_rules>\n    <message_length>Mensagens curtas (5-8 palavras)</message_length>\n<message_length>Use \\n para separar as frases para deixar humanizado.</message_length>\n    <variables>\n      <cnpj_empresa>{{ $('get empresa').item.json.cnpj_empresa }}</cnpj_empresa>\n      <telefone_cliente>{{ $('get clientes1').item.json.telefone_cliente }}</telefone_cliente>\n    </variables>\n    <payment_methods>\n      <DIN>Dinheiro</DIN>\n      <CARD>Cartão genérico</CARD>\n      <DEB>Débito</DEB>\n      <CRE>Crédito</CRE>\n    </payment_methods>\n  </behavior_rules>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        14864,
        -2240
      ],
      "id": "f2270318-4c98-4f40-9055-7751c280b238",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        13408,
        -1424
      ],
      "id": "5e341a27-6eb8-4511-96b5-98a843127e87",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rk2E8thwm7EIHrdH",
          "name": "OpenAi account Lucas"
        }
      }
    },
    {
      "parameters": {
        "name": "user_donfonsecacardapio",
        "description": "Cardapio don Fonseca, codigos dos itens, complementos e adicionais."
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        13840,
        -1424
      ],
      "id": "fa8aa8fa-7c73-4c30-8e72-18159efb7408",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        14224,
        -1424
      ],
      "id": "c29fe940-934a-4c33-934b-2f6183924a66",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "rk2E8thwm7EIHrdH",
          "name": "OpenAi account Lucas"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "donfonsecacardapio",
          "mode": "list",
          "cachedResultName": "donfonsecacardapio"
        },
        "options": {
          "queryName": "donfonsecacardapio"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        13840,
        -1248
      ],
      "id": "df0f9069-75de-4a6f-b3c6-45bf5010fa9a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "SL6krvWuRhVj0d0c",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        14224,
        -1216
      ],
      "id": "fa19927b-b7d3-42e3-9de4-f10bbbafe42c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rk2E8thwm7EIHrdH",
          "name": "OpenAi account Lucas"
        }
      }
    },
    {
      "parameters": {
        "name": "realiza_pedido",
        "description": "Este tool serve para inviar o pedido no sistema",
        "workflowId": {
          "__rl": true,
          "value": "bV3pyvohsF1CkW1t",
          "mode": "list",
          "cachedResultName": "REALIZAR PEDIDO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone_cliente', ``, 'string') }}",
            "cnpj": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cnpj', ``, 'string') }}",
            "order_method": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('order_method', ``, 'string') }}",
            "pedido": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pedido', ``, 'string') }}",
            "endereco": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('endereco', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cnpj",
              "displayName": "cnpj",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "order_method",
              "displayName": "order_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "pedido",
              "displayName": "pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefone_cliente",
              "displayName": "telefone_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "endereco",
              "displayName": "endereco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        14704,
        -1424
      ],
      "id": "3676d1de-db16-4888-8ebc-187514efa2b6",
      "name": "Realiza pedido"
    },
    {
      "parameters": {
        "sessionTTL": 100,
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        13632,
        -1168
      ],
      "id": "f8280dca-c1d9-441d-a24d-4be1c8e82328",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "HdxXmRpNZoA3twxH",
          "name": "Redis account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('get empresa').item.json.telefone_empresa }}|{{ $('tratamento da resposta').item.json.telefone }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        13632,
        -1440
      ],
      "id": "96d1d921-02db-4c17-9717-0e1cbe44b25d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "PGYvnRCbeMrYIW27",
          "name": "Postgres N8N"
        }
      }
    },
    {
      "parameters": {
        "name": "abre_reclamacao",
        "description": "responsavel por abrir uma reclamação",
        "workflowId": {
          "__rl": true,
          "value": "ILeams57dKJ6moo8",
          "mode": "list",
          "cachedResultName": "ABRE RECLAMAÇÃO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Cliente Existe?').item.json.telefone_cliente }}"
          },
          "matchingColumns": [
            "telefone"
          ],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        14704,
        -1168
      ],
      "id": "d3639bb0-acff-4bcf-8ea3-dafac3ef2ace",
      "name": "Abre Reclamacao"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9e8299c-8691-4d1d-92ca-b4a0b3bfaeb3",
              "name": "output",
              "value": "={{ $json.output.split('\\n\\n') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16992,
        -2240
      ],
      "id": "83067145-51e0-4206-bdd1-921d7889cd06",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "553597694939@s.whatsapp.net|553598374007@s.whatsapp.net"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        14752,
        -2528
      ],
      "id": "c5bf71c5-604c-4716-9a76-7dac403ee2de",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "PGYvnRCbeMrYIW27",
          "name": "Postgres N8N"
        }
      }
    },
    {
      "parameters": {
        "name": "envia_cardapio",
        "workflowId": {
          "__rl": true,
          "value": "uCEnMqWLHdlfpkAQ",
          "mode": "list",
          "cachedResultName": "ENVIA CARDAPIO PLUMA AI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cnpj": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cnpj', ``, 'string') }}",
            "telefone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cnpj",
              "displayName": "cnpj",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        14480,
        -1424
      ],
      "id": "b11fd459-b27f-4b88-8704-07322c4d10bd",
      "name": "Envia Cardapio"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone_cliente",
              "keyValue": "={{ $json.body.data.key.remoteJid }}"
            }
          ]
        }
      },
      "id": "62f119f1-cc19-402b-b982-d71f39db25d1",
      "name": "CONSULTA CLIENTE1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6224,
        -3296
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "SL6krvWuRhVj0d0c",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.data.message.base64",
        "options": {
          "mimeType": "audio/ogg"
        }
      },
      "id": "e73caf38-7ccd-49b4-830b-e535c1471cef",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        7808,
        -2624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://transcreveapi_transcreveapi:5000/transcrever",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "820e22a7-8ce6-4fac-be64-1d53e845d61d",
      "name": "transcrever audio1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8160,
        -2624
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                    "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c9bbf7da-fa09-4cbe-9faa-77233b67d8f5",
                    "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json[\"body\"][\"data\"][\"messageType\"] }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "070ebe8e-1381-4dd1-908d-3714b7eea8d2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "id": "f64cb13b-321b-48b3-9574-cc70849c97ec",
      "name": "texto/audio1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        6624,
        -3296
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.telefone }}",
        "messageData": "={{ JSON.stringify($json.mensagem) }}"
      },
      "id": "655492d8-aa2a-409d-b151-e7472250598a",
      "name": "Redis7",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        9920,
        -3296
      ],
      "credentials": {
        "redis": {
          "id": "HdxXmRpNZoA3twxH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "249578d0-f25f-4702-b84a-d19d0c58f050",
              "leftValue": "={{ $json.propertyName.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "243bf6ec-91e8-4022-9023-4b26c4cce180",
      "name": "If2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10608,
        -3296
      ]
    },
    {
      "parameters": {},
      "id": "291818eb-56a4-445f-a0ce-e872d1dd5c0a",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        11024,
        -3584
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.telefone }}",
        "options": {}
      },
      "id": "6ee2a56e-c647-4993-86a1-44b7f7dccc0b",
      "name": "Redis8",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        10272,
        -3296
      ],
      "credentials": {
        "redis": {
          "id": "HdxXmRpNZoA3twxH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 7
      },
      "id": "a4e5ec8f-4d21-419c-b06b-8f6166878124",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        11040,
        -3024
      ],
      "webhookId": "9fe2ac0b-196d-43e0-81ab-c75515e6c2bf"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('tratamento da resposta').item.json.telefone }}",
        "options": {}
      },
      "id": "903c63e3-753e-4e7b-aeaf-58bdedc47f4e",
      "name": "Redis9",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        11392,
        -3024
      ],
      "credentials": {
        "redis": {
          "id": "HdxXmRpNZoA3twxH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('tratamento da resposta').item.json.telefone }}"
      },
      "id": "4d88db38-3ab1-4199-a1bd-ed9f2adce149",
      "name": "Redis10",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        9600,
        -2496
      ],
      "credentials": {
        "redis": {
          "id": "HdxXmRpNZoA3twxH",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09f30e24-619f-4090-9e7f-b13f79e02bc1",
              "name": "mensagem",
              "value": "={{ $json.propertyName.map((value, index) => {\n    try {\n        // Tenta fazer parse duplo se necessário\n        let parsedValue;\n        try {\n            parsedValue = JSON.parse(value);\n            if (typeof parsedValue === 'string') {\n                parsedValue = JSON.parse(parsedValue);\n            }\n        } catch (e) {\n            parsedValue = value;\n        }\n\n        // Determina o conteúdo a ser exibido\n        let displayText;\n        if (typeof parsedValue === 'object' && parsedValue !== null && 'conversation' in parsedValue) {\n            displayText = parsedValue.conversation || 'Sem conversa';\n        } else if (parsedValue === \"ok\") {\n            displayText = \"[Áudio]\";\n        } else {\n            displayText = typeof parsedValue === 'object' ? JSON.stringify(parsedValue) : parsedValue;\n        }\n\n        // Mantém a ordem original com índice correto\n        return `${$json.propertyName.length - index}. ${displayText}`;\n        \n    } catch (error) {\n        return `${$json.propertyName.length - index}. Erro ao processar`;\n    }\n}).reverse().join(' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "71a5c69e-00fc-4f3d-a0a1-a15e7512abe8",
      "name": "Mensagens Agrupadas2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11728,
        -3024
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1df77597-fba8-4ec1-b63d-1bb12ccc848d",
              "name": "mensagem",
              "value": "={{ $('Webhook').item.json.body.data.message }}",
              "type": "object"
            },
            {
              "id": "adaf764b-8c70-4ece-8fed-37233caedb05",
              "name": "telefone_empresa",
              "value": "={{ $('Webhook').item.json.body.sender }}",
              "type": "string"
            },
            {
              "id": "8d655bb0-df43-4e2a-a15a-082c96cc5c6a",
              "name": "telefoneCliente",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "1ed2506e-f633-4f3f-b826-f42a871203c2",
              "name": "nome_CLiente",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "99af3dc8-a789-4e61-9c1f-12205abe3fd2",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "36dc0bb5-a4ec-4c1f-9587-76119affbc44",
      "name": "tratamento texto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7488,
        -3984
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8ea7894-e93b-4773-95a9-428a0cc0f631",
              "name": "telefone",
              "value": "={{ $json.telefoneCliente }}",
              "type": "string"
            },
            {
              "id": "e7fa605f-3a07-4fbe-a137-f3296273f32c",
              "name": "mensagem",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            },
            {
              "id": "85ed2c30-5f13-4ba3-86f8-f0ff244319f0",
              "name": "telefone_empresa",
              "value": "={{ $json.telefone_empresa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9584,
        -3296
      ],
      "id": "10f3e3cc-0aae-4b9a-bce0-227f4d06a3be",
      "name": "tratamento da resposta"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1df77597-fba8-4ec1-b63d-1bb12ccc848d",
              "name": "mensagem",
              "value": "={{ $json.data }}",
              "type": "object"
            },
            {
              "id": "adaf764b-8c70-4ece-8fed-37233caedb05",
              "name": "telefone_empresa",
              "value": "={{ $('Webhook').item.json.body.sender }}",
              "type": "string"
            },
            {
              "id": "8d655bb0-df43-4e2a-a15a-082c96cc5c6a",
              "name": "telefoneCliente",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "1ed2506e-f633-4f3f-b826-f42a871203c2",
              "name": "nome_CLiente",
              "value": "={{ $('Webhook').item.json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "04b3e0fb-927e-4377-a878-5d45d4c3705e",
      "name": "tratamento audio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8512,
        -2624
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e96dc911-f679-4226-a80e-9e067d378606",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        11952,
        -256
      ],
      "id": "2926e50c-31a9-4d63-be4d-87a7fbb8bb54",
      "name": "Reage Conversa Whatsapp",
      "webhookId": "e96dc911-f679-4226-a80e-9e067d378606"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-reaction",
        "instanceName": "={{ $json.id_conversa }}",
        "remoteJid": "={{ $json.numero_cliente }}",
        "messageId": "={{ $json.id_conversa }}",
        "reaction": "={{ $json.emogi }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        12208,
        -256
      ],
      "id": "c0a879fc-66a8-4d7f-8391-9d66187b42d6",
      "name": "Evolution API3",
      "credentials": {
        "evolutionApi": {
          "id": "VRGi3Y2SSa4kIspk",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        16992,
        -1888
      ],
      "id": "1a86334a-e2f8-420f-88da-ef54ae5f64b3",
      "name": "Le a mensagem",
      "alwaysOutputData": true,
      "credentials": {
        "evolutionApi": {
          "id": "VRGi3Y2SSa4kIspk",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        17312,
        -1888
      ],
      "id": "dee52711-587c-4273-b28b-de3e3da50cc2",
      "name": "Escreve ",
      "credentials": {
        "evolutionApi": {
          "id": "VRGi3Y2SSa4kIspk",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $('Loop Over Items').item.json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        17584,
        -1888
      ],
      "id": "04201601-27b1-4f4d-a6d3-3809c6ec8516",
      "name": "Manda texto",
      "credentials": {
        "evolutionApi": {
          "id": "VRGi3Y2SSa4kIspk",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Receptor de Informação\n**webhook** \nEvolution Api / Cloud / TowerChat /",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4832,
        -3424
      ],
      "typeVersion": 1,
      "id": "2a2749b7-47db-4deb-848b-13127c7be89d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Consulta Cliente\n**Supabase** \nsupabase.towersfy.com",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6128,
        -3424
      ],
      "typeVersion": 1,
      "id": "bb50e0d6-5c52-4a8f-9143-96700096a220",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "b6cafc25-3190-4530-aca7-d377460565c0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AGENTE H"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9f958c5b-a7a8-4f1a-8143-3bae920bbf7b",
                    "leftValue": "={{ $('Webhook').item.json.body.data.key.fromMe }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CLIENTE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        5744,
        -3600
      ],
      "id": "03a4ed55-e881-43a3-9395-f816546c3025",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "## Enviado por:\n**bolean** \nAgent H: pausa conversa por {{v}} segundos.",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5664,
        -3728
      ],
      "typeVersion": 1,
      "id": "dc7ddbdc-1836-4d13-9c10-0add07ecbacf",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ece7071b-a3bd-4eec-8e48-98ee517afb42",
              "name": "body.data.message.base64",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ab22ec53-44d5-4e19-a35d-32f047c9547a",
      "name": "Pega base64",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7488,
        -2624
      ]
    },
    {
      "parameters": {
        "content": "## API Transcreve Audio - Local\n**transição de auido** \nUpgrade disponivel com OpenAI",
        "height": 560,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8064,
        -2976
      ],
      "typeVersion": 1,
      "id": "2c65f41b-c56f-43a2-b4c0-e867eca65ac3",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        8160,
        -2800
      ],
      "id": "e1baaf6a-fc22-440f-a004-456e5020cf53",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rk2E8thwm7EIHrdH",
          "name": "OpenAi account Lucas"
        }
      }
    },
    {
      "parameters": {
        "content": "## Audio Texto Imagem\n**bolean** \nAgent H: pausa conversa por {{v}} segundos.",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6528,
        -3408
      ],
      "typeVersion": 1,
      "id": "3bd73a21-7126-4a3c-a68a-7960361174a9",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff392999-d538-4fdf-83d6-932872f9f938",
              "name": "base64",
              "value": "={{ $('Edit Fields').item.json.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e86a48d1-cdfe-4edb-8c76-b950dc804615",
      "name": "Variaveis JPG2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7488,
        -3296
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "image",
          "mimeType": "image/jpeg"
        }
      },
      "id": "b3470baa-4fe3-45e6-a7ba-dd886352846f",
      "name": "Convert to JPG",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        7824,
        -3296
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7322056-3060-4893-9d0d-13f49560c27c",
              "name": "remoteJid",
              "value": "={{ $('Edit Fields').item.json.remoteJid }}",
              "type": "string"
            },
            {
              "id": "424c7671-5250-4bf2-aa56-d12759837522",
              "name": "mensagem",
              "value": "={{ $item(\"0\").$node[\"Analisa Imagem\"].json[\"choices\"][\"0\"][\"message\"][\"content\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "24cc707e-928e-4945-b1ef-e03b21e2f5d0",
      "name": "Edit Fields16",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8512,
        -3296
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "transcrever a imagem, atentando-se apenas para o conteúdo legível e claro referente às informações sobre exames, consultas e outras informações, para que o agente possa responder com base nas informações do sistema. atentar para exames, radiografias, Raio X, Tomografia Computadorizada, ressonância magnética, Exames Laboratoriais, Exames Clínicos. Quando a Imagem não conter nada relacionando, responder da seguinte forma.",
        "inputType": "=data",
        "simplify": false,
        "options": {}
      },
      "id": "3127a946-4a9a-458e-a640-59391076dc7e",
      "name": "Analisa Imagem",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        8160,
        -3296
      ],
      "credentials": {
        "openAiApi": {
          "id": "rk2E8thwm7EIHrdH",
          "name": "OpenAi account Lucas"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Audio \n**base64** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7392,
        -2720
      ],
      "typeVersion": 1,
      "id": "6429f47d-d65b-4ef1-8200-d7e888fe3195",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Imagem\n**base64** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7392,
        -3408
      ],
      "typeVersion": 1,
      "id": "95b791da-37af-41cc-a36a-c3d71cd3ea86",
      "name": "Sticky Note12",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Texto\n**base64** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7392,
        -4080
      ],
      "typeVersion": 1,
      "id": "09e9a1df-efc7-4e4a-98fb-275981532958",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Covert base64 Audio\n**base64** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7728,
        -2720
      ],
      "typeVersion": 1,
      "id": "d5cc0092-7608-4ab9-99a5-7c5e63acc34f",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Tratamento Audio \n**Json** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8400,
        -2720
      ],
      "typeVersion": 1,
      "id": "74c79147-110a-4c0d-8168-9949ad50e867",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Covert base64 Image\n**base64** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7728,
        -3408
      ],
      "typeVersion": 1,
      "id": "cc191c2f-8adb-436f-91c7-5e959c7adac0",
      "name": "Sticky Note20",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Analiza Imagem\n**OpenAI** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8064,
        -3408
      ],
      "typeVersion": 1,
      "id": "c791064a-b34b-4fa4-b396-69659a095e92",
      "name": "Sticky Note21",
      "disabled": true
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "d4b2d865-0443-4fca-9977-c0da7bf2c5ef",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        9264,
        -3344
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        8480,
        -3984
      ],
      "id": "496186c5-7c2a-40b8-afdf-b9950ca7650b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9fd12788-3c02-4a42-8f3a-e0f34b40b76a",
              "leftValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"key\"][\"remoteJid\"] }}",
              "rightValue": "@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6f9e280e-7db0-4fc3-896e-5d723cc269c3",
      "name": "bloqueia_grupo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5248,
        -3296
      ]
    },
    {
      "parameters": {
        "content": "## Bloqueia Grupo",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5168,
        -3424
      ],
      "typeVersion": 1,
      "id": "3f96a645-4f88-4a1d-aa58-5b146a16ff2b",
      "name": "Sticky Note22"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5760,
        -3024
      ],
      "id": "fae53595-7bb0-4636-be3b-4e874c23007c",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "content": "## Tratamento de Dados\n**Set de Informações** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9488,
        -3408
      ],
      "typeVersion": 1,
      "id": "7303876a-59e1-4a8c-8e16-fcfce2e14ba5",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## Set mensagem acoplada\n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9824,
        -3408
      ],
      "typeVersion": 1,
      "id": "23d5d8a9-db88-4ad0-a2e0-f2674cbf097b",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "## Verifica agrupamento \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        10160,
        -3408
      ],
      "typeVersion": 1,
      "id": "fae32853-be9f-4435-8caf-2b3391ee0341",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "## Aguardando proximas mensagens\n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        10512,
        -3408
      ],
      "typeVersion": 1,
      "id": "d629a406-52dd-4baa-870c-9552cbcb46a1",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "## Aguarda proximas mensagens\n**Set de Informações** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        10944,
        -3136
      ],
      "typeVersion": 1,
      "id": "581291a7-38fb-48e8-8e20-704194a15ecf",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "## Mensagens Acopladas\n**Redis** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        11280,
        -3136
      ],
      "typeVersion": 1,
      "id": "bb1f2fb2-0329-4b95-9307-fe190789cdf2",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "## Tratamento da mensagem\n**set** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        11632,
        -3136
      ],
      "typeVersion": 1,
      "id": "e2f18432-0987-40c6-9e52-b249374e197a",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "## Delet mensagem acoplada\n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9504,
        -2624
      ],
      "typeVersion": 1,
      "id": "9caca4bc-6ee2-4562-8bf8-aa9c5c5ee3f7",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "## Consulta dados Empresa",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9840,
        -2624
      ],
      "typeVersion": 1,
      "id": "73536d13-78f0-47a0-99f3-f0c88133e060",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "## Verifica se empresa esta cadastrada",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        10192,
        -2624
      ],
      "typeVersion": 1,
      "id": "93778055-4ce4-4bc6-9cfd-6feb0dfa6e69",
      "name": "Sticky Note32"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        10624,
        -2720
      ],
      "id": "4b04d500-0ec6-4091-80d7-235b6fa41dbc",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {
        "content": "## Consulta dados Clientes",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        10528,
        -2368
      ],
      "typeVersion": 1,
      "id": "e7fb4211-f8e4-4d4e-b590-5e7d3c835288",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "6bc20cfa-78bd-4511-940d-4eb11b05b84a",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        11888,
        -2288
      ]
    },
    {
      "parameters": {
        "content": "## Verifica se cliente esta cadastrado",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        10864,
        -2368
      ],
      "typeVersion": 1,
      "id": "3da9e26a-35e8-44fe-8578-2571ca65ee3c",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "content": "## Cria Cliente",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        11280,
        -2128
      ],
      "typeVersion": 1,
      "id": "bbed6fe5-7bcf-4620-bf95-5ebb15f38a13",
      "name": "Sticky Note35"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        11392,
        -2464
      ],
      "id": "d7437555-554d-4ba0-8ee3-fa0d7e81adf6",
      "name": "No Operation, do nothing5"
    },
    {
      "parameters": {
        "content": "## API não Oficial Whatsapp\nevolution2.towerfy.com",
        "height": 300,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16880,
        -1984
      ],
      "typeVersion": 1,
      "id": "65a082b6-7ed4-4abd-9d68-eb3a45888dea",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## API Oficial Whatsapp\ndevelopers.meta.com/whatsapp\n",
        "height": 300,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16880,
        -1664
      ],
      "typeVersion": 1,
      "id": "cbf40d57-3da6-4bb1-910c-d15f238059f1",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "operation": "send",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        17264,
        -1568
      ],
      "id": "ec3c6c0b-4da8-4450-aa55-12da51f57b6b",
      "name": "WhatsApp Business Cloud",
      "webhookId": "075f87b0-41b3-4d1e-9726-644e6a96dd0f",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Chat Models",
        "height": 500,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        13344,
        -1520
      ],
      "typeVersion": 1,
      "id": "713d56ef-43b2-4616-9528-514c7f91ecb7",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "content": "## Chat Memory",
        "height": 500,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        13568,
        -1520
      ],
      "typeVersion": 1,
      "id": "72bf3171-c1f8-468e-b88a-0588cfaffd48",
      "name": "Sticky Note38"
    },
    {
      "parameters": {
        "content": "## Base de Conhecimento \nEnbadding",
        "height": 500,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        13792,
        -1520
      ],
      "typeVersion": 1,
      "id": "0f4b30e9-d13a-48b6-bc96-2f900aa56c66",
      "name": "Sticky Note39"
    },
    {
      "parameters": {
        "content": "## Tratamento da mensagem\n**mensagens fracionadas** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16880,
        -2368
      ],
      "typeVersion": 1,
      "id": "7bc20c34-6c0f-4f5b-bea5-7bb9a4abfafb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Tratamento da mensagem\n**split mensagens individuais** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        17200,
        -2368
      ],
      "typeVersion": 1,
      "id": "7781da49-2d80-49df-a9b1-8903de96af57",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Looping de mensagens\n**split mensagens individuais** \n",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        17520,
        -2368
      ],
      "typeVersion": 1,
      "id": "8ff72693-61a8-4de7-b8f8-a02f8398d4a8",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Cardapio",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        14432,
        -1520
      ],
      "typeVersion": 1,
      "id": "8b489fb0-059d-4826-8453-dde63581a4ea",
      "name": "Sticky Note40"
    },
    {
      "parameters": {
        "content": "## Calculadora",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        14432,
        -1264
      ],
      "typeVersion": 1,
      "id": "a9582a37-bb0e-4bc4-a522-d21c6e3066e0",
      "name": "Sticky Note41"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        14480,
        -1168
      ],
      "id": "02e7ff94-163e-4bb5-bdb0-3ed84614a5a2",
      "name": "Calculator"
    },
    {
      "parameters": {
        "content": "## Cria Pedido",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        14640,
        -1520
      ],
      "typeVersion": 1,
      "id": "11b138ba-4d6e-4782-b30d-551acc70de90",
      "name": "Sticky Note42"
    },
    {
      "parameters": {
        "content": "## Abre Reclamação",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        14640,
        -1264
      ],
      "typeVersion": 1,
      "id": "1bdd5f2e-ae5d-4e94-8fc6-d3ad2d989409",
      "name": "Sticky Note43"
    },
    {
      "parameters": {
        "content": "## Pedido",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        15088,
        -1264
      ],
      "typeVersion": 1,
      "id": "0330f58c-b4e2-4216-bd6e-79d646d3d0bf",
      "name": "Sticky Note44"
    },
    {
      "parameters": {
        "content": "## Pedido",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        14864,
        -1264
      ],
      "typeVersion": 1,
      "id": "1437a9f3-6db4-4534-96ca-37fb2f1f4cd4",
      "name": "Sticky Note45"
    },
    {
      "parameters": {
        "content": "## Pedido",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        14864,
        -1520
      ],
      "typeVersion": 1,
      "id": "3ef5ddc5-b398-4715-a6e3-faf7ae84c9db",
      "name": "Sticky Note46"
    },
    {
      "parameters": {
        "content": "## Pedido",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        15088,
        -1520
      ],
      "typeVersion": 1,
      "id": "91757729-553e-4c1b-824f-6a02711d6f7a",
      "name": "Sticky Note47"
    },
    {
      "parameters": {
        "content": "## Pedido",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        15312,
        -1520
      ],
      "typeVersion": 1,
      "id": "8ed573d1-1548-439a-8aa2-a7d41fe49506",
      "name": "Sticky Note48"
    },
    {
      "parameters": {
        "content": "## Consulta Usuario",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        15312,
        -1264
      ],
      "typeVersion": 1,
      "id": "88d59721-53d9-4c28-84bc-5aea645cc3fc",
      "name": "Sticky Note49"
    },
    {
      "parameters": {
        "content": "## Pedido",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        15520,
        -1520
      ],
      "typeVersion": 1,
      "id": "11986851-4285-4b1a-8219-ef021a0d3b4e",
      "name": "Sticky Note50"
    },
    {
      "parameters": {
        "content": "## Edita Cliente",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        15520,
        -1264
      ],
      "typeVersion": 1,
      "id": "3ef83f1b-130d-4e10-b43e-e4b4d2718ac4",
      "name": "Sticky Note51"
    },
    {
      "parameters": {
        "content": "## Pedido",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        15744,
        -1520
      ],
      "typeVersion": 1,
      "id": "66327a94-0844-489d-9762-989b7a6a9d4c",
      "name": "Sticky Note52"
    },
    {
      "parameters": {
        "content": "## Pedido",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        15744,
        -1264
      ],
      "typeVersion": 1,
      "id": "d8339f5d-6e83-40f8-88ab-d2afde8195e1",
      "name": "Sticky Note53"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        13408,
        -1184
      ],
      "id": "a92d90e1-bdfa-4f20-83dd-ca5c87efd33b",
      "name": "Groq Chat Model",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Gera Order_ID",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        15968,
        -1520
      ],
      "typeVersion": 1,
      "id": "7a81d10e-6c92-44c9-b044-aeb5fad5dbbd",
      "name": "Sticky Note54"
    },
    {
      "parameters": {
        "content": "## Edita Endereço",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        15968,
        -1264
      ],
      "typeVersion": 1,
      "id": "c7278282-cb4f-450f-a48c-2010e1facd8c",
      "name": "Sticky Note55"
    },
    {
      "parameters": {
        "content": "## Consulta Endereço",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16192,
        -1520
      ],
      "typeVersion": 1,
      "id": "c77995ec-be5a-45e2-b953-b6497fc989ea",
      "name": "Sticky Note56"
    },
    {
      "parameters": {
        "content": "## Cria Endereço",
        "height": 240,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16192,
        -1264
      ],
      "typeVersion": 1,
      "id": "169924ce-5710-4706-a7bc-bb3fc0565e4f",
      "name": "Sticky Note57"
    },
    {
      "parameters": {
        "name": "consulta_endereco",
        "description": "Essa ferramenta fará a consulta dos endereços dos clientes, para confirmação.",
        "workflowId": {
          "__rl": true,
          "value": "iaLWrHb1cyUSKQmE",
          "mode": "list",
          "cachedResultName": "Consulta Endereço"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone_cliente', ``, 'string') }}"
          },
          "matchingColumns": [
            "telefone_cliente"
          ],
          "schema": [
            {
              "id": "telefone_cliente",
              "displayName": "telefone_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        16240,
        -1424
      ],
      "id": "5cfd0942-3efc-4226-96b9-5b7f7fbf932a",
      "name": "Consulta Endereço"
    },
    {
      "parameters": {
        "name": "cria_endereco",
        "description": "cria endereço para o cliente",
        "workflowId": {
          "__rl": true,
          "value": "VdGOseGsdTBrDSkL",
          "mode": "list",
          "cachedResultName": "Cria Endereço"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone_cliente', ``, 'string') }}",
            "nome_rua": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_rua', ``, 'string') }}",
            "bairro": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('bairro', ``, 'string') }}",
            "numero_casa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numero_casa', ``, 'string') }}",
            "cidade": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cidade', ``, 'string') }}",
            "referencia": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('referencia', ``, 'string') }}",
            "complemento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('complemento', ``, 'string') }}",
            "cep": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cep', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone_cliente",
              "displayName": "telefone_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome_rua",
              "displayName": "nome_rua",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero_casa",
              "displayName": "numero_casa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "bairro",
              "displayName": "bairro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cidade",
              "displayName": "cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "referencia",
              "displayName": "referencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "complemento",
              "displayName": "complemento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cep",
              "displayName": "cep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        16240,
        -1168
      ],
      "id": "a87b8f6e-c254-46c9-9d03-68468ffe5b32",
      "name": "Cria Endereço"
    },
    {
      "parameters": {
        "name": "edita_endereco",
        "description": "Edita o endereco do cliente",
        "workflowId": {
          "__rl": true,
          "value": "3qhW0bFUIaXIdBPL",
          "mode": "list",
          "cachedResultName": "Edita Endereço"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numero_cliente', ``, 'string') }}",
            "id_endereco": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_endereco', ``, 'string') }}",
            "nome_rua": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_rua', ``, 'string') }}",
            "numero_casa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numero_casa', ``, 'string') }}",
            "bairro": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('bairro', ``, 'string') }}",
            "cidade": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cidade', ``, 'string') }}",
            "cep": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cep', ``, 'string') }}",
            "complemento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('complemento', ``, 'string') }}",
            "referencia": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('referencia', ``, 'string') }}",
            "estado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('estado', ``, 'string') }}",
            "pais": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pais', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "numero_cliente",
              "displayName": "numero_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_endereco",
              "displayName": "id_endereco",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome_rua",
              "displayName": "nome_rua",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "numero_casa",
              "displayName": "numero_casa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "bairro",
              "displayName": "bairro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cidade",
              "displayName": "cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "cep",
              "displayName": "cep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "complemento",
              "displayName": "complemento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "referencia",
              "displayName": "referencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pais",
              "displayName": "pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        16032,
        -1168
      ],
      "id": "9e04d024-d6ff-49db-8b30-c22ac7e5da2e",
      "name": "Edita Endereço"
    },
    {
      "parameters": {
        "name": "consulta_usuario",
        "description": "consulta usuario no sistema",
        "workflowId": {
          "__rl": true,
          "value": "HetSyxXKGtb1D3sH",
          "mode": "list",
          "cachedResultName": "Consulta Usuario"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('numero_cliente', ``, 'string') }}"
          },
          "matchingColumns": [
            "numero_cliente"
          ],
          "schema": [
            {
              "id": "numero_cliente",
              "displayName": "numero_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        15360,
        -1168
      ],
      "id": "0c2f1386-0c59-45ae-ade6-127ca6a41413",
      "name": "Consulta Usuario"
    },
    {
      "parameters": {
        "name": "edita_usuario",
        "description": "Edita Informaçõesdo cliente",
        "workflowId": {
          "__rl": true,
          "value": "OqQFgrpPLOE5avTL",
          "mode": "list",
          "cachedResultName": "Edita usuario"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone_cliente', ``, 'string') }}",
            "nome_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_cliente', ``, 'string') }}",
            "data_nascimento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_nascimento', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone_cliente",
              "displayName": "telefone_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nome_cliente",
              "displayName": "nome_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone_cliente",
              "displayName": "telefone_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data_nascimento",
              "displayName": "data_nascimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        15584,
        -1168
      ],
      "id": "721fbe82-e21a-4767-bf55-712ae3cd1c94",
      "name": "Edita Cliente"
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        13632,
        -1296
      ],
      "id": "fda62fba-a0b3-4d65-95be-e30861f30d7d",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13184,
        240
      ],
      "id": "2e5b2e03-9742-4356-b388-72434bcb1566",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13184,
        -640
      ],
      "id": "1484e495-c7a9-4af5-9832-27bddbe52659",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13184,
        704
      ],
      "id": "d421b449-af97-4205-a96e-e6012005c066",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        14112,
        -64
      ],
      "id": "da488178-1847-4d1f-a1b8-0ff9068316c7",
      "name": "Merge2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13184,
        -416
      ],
      "id": "90788b9c-c738-4153-a716-a0f8271a9186",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13184,
        -208
      ],
      "id": "b8620ce1-981c-4415-b0ac-7c4fdb62b453",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13184,
        32
      ],
      "id": "d78b004d-593a-4b8b-b04c-26acce07a692",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13184,
        480
      ],
      "id": "10b7fb20-770e-413c-8122-e7b523652a75",
      "name": "Edit Fields14"
    },
    {
      "parameters": {
        "name": "order_id",
        "description": "Chame essa função para gerar um order_id para o pedido",
        "jsCode": "// Pega a data/hora atual\nconst now = new Date();\n\n// Formata cada componente com 2 dígitos (padStart preenche com zero à esquerda)\nconst day = String(now.getDate()).padStart(2, '0');         // Dia (01-31)\nconst month = String(now.getMonth() + 1).padStart(2, '0');  // Mês (01-12)\nconst year = String(now.getFullYear());                     // Ano (2025)\nconst hours = String(now.getHours()).padStart(2, '0');      // Hora (00-23)\nconst minutes = String(now.getMinutes()).padStart(2, '0');  // Minuto (00-59)\nconst seconds = String(now.getSeconds()).padStart(2, '0');  // Segundo (00-59)\n\n// Combina tudo no formato ddmmaaaahhmmss\nconst order_id = day + month + year + hours + minutes + seconds;\n\n// Exemplo de saída: \"27022025102745\" (27/02/2025 10:27:45)\nreturn order_id;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        16032,
        -1424
      ],
      "id": "33a4cd47-50a2-48d9-8c3f-4bcf81d9fd24",
      "name": "Order_ID2"
    },
    {
      "parameters": {
        "name": "create_at",
        "description": "chame essa ferramenta para criar a hora e data no formato correto e atualizado",
        "jsCode": "// 1. Obtém a data/hora atual no fuso de São Paulo (UTC-3)\nconst now = new Date();\n\n// 2. Ajusta para UTC-3 (Brasília)\nconst offset = -3; // UTC-3 para horário de Brasília\nnow.setHours(now.getHours() + offset);\n\n// 3. Formata no padrão ISO com milissegundos e 'Z' (Zulu/UTC)\nconst created_at = now.toISOString();\n\n// 4. Remove os últimos 1 caracteres (o 'Z' final) e adiciona 'Z' manualmente\n// Isso mantém o formato compatível com o exemplo\nconst formatted_created_at = created_at.slice(0, -1) + 'Z';\n\nreturn formatted_created_at;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        15808,
        -1168
      ],
      "id": "0a3295c3-4ff5-4fff-b174-a9c118e1de55",
      "name": "create_at2"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone_cliente",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', `sempre tentar com  o numero com o 9 e sem o 9 \nEx: 553598374007@s.whatsapp.net\n5535998374007@s.whatsapp.net`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        15808,
        -1440
      ],
      "id": "6ec998cd-eace-4bdd-a6e0-d8e2a447b874",
      "name": "Clientes2",
      "credentials": {
        "supabaseApi": {
          "id": "SL6krvWuRhVj0d0c",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        4928,
        -2960
      ],
      "id": "c7714245-dc02-4bed-8911-6f764917ff98",
      "name": "WhatsApp Trigger",
      "webhookId": "7ac86430-9170-42ea-8c02-f24e364a5649",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Receptor de Informação\n**webhook** \nEvolution Api / Cloud / TowerChat /",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4832,
        -3088
      ],
      "typeVersion": 1,
      "id": "2ef54030-7b25-4a30-b9a8-2437f5758595",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.towersfy.com",
            "user-agent": "axios/1.7.9",
            "content-length": "998",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.towersfy.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "6e7321139558",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "towersfy",
            "data": {
              "key": {
                "remoteJid": "553598374007@s.whatsapp.net",
                "fromMe": false,
                "id": "8D7FAE79A1307E11CE7EAF0337F758AF"
              },
              "pushName": "Niquele",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Vocês tem baguete?",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "/wLpQViEw3nrpQ==",
                    "senderTimestamp": "1744897637",
                    "recipientKeyHash": "D0ulrPFrOS9wLA==",
                    "recipientTimestamp": "1744806813"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "KfjvoRf6Do3OXwwTqPQ+g7ljvSkQhDyzbcayLcBV7Tc="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1745410691,
              "instanceId": "84b78b3e-215e-4017-b3df-222bc9c0908d",
              "source": "android",
              "chatwootMessageId": 1565,
              "chatwootInboxId": 1,
              "chatwootConversationId": 3
            },
            "destination": "https://webhook.towersfy.com/webhook/6a2bf9f1-4393-47c5-b313-31e8f51cb4a0",
            "date_time": "2025-04-23T09:18:11.705Z",
            "sender": "553597694939@s.whatsapp.net",
            "server_url": "https://evolution2.towersfy.com",
            "apikey": "5C2130CCF54C-425B-B2B9-AD168BB24E73"
          },
          "webhookUrl": "https://webhook.towersfy.com/webhook/6a2bf9f1-4393-47c5-b313-31e8f51cb4a0",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Criaçao Cliente": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Cliente Existe?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criaçao Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get empresa": {
      "main": [
        [
          {
            "node": "Dados Empresa Vazio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratamento Resposta": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Empresa Vazio?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get clientes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Le a mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get clientes1": {
      "main": [
        [
          {
            "node": "Cliente Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase10": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase11": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Supabase11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase8": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "bloqueia_grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase15": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook10": {
      "main": [
        [
          {
            "node": "AJUSTA NUMERO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AJUSTA NUMERO1": {
      "main": [
        [
          {
            "node": "Supabase8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Realiza pedido": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Abre Reclamacao": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Cardapio": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "transcrever audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcrever audio1": {
      "main": [
        [
          {
            "node": "tratamento audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "texto/audio1": {
      "main": [
        [
          {
            "node": "tratamento texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Variaveis JPG2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pega base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONSULTA CLIENTE1": {
      "main": [
        [
          {
            "node": "texto/audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis7": {
      "main": [
        [
          {
            "node": "Redis8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis8": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis9": {
      "main": [
        [
          {
            "node": "Mensagens Agrupadas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagens Agrupadas2": {
      "main": [
        [
          {
            "node": "Redis10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Redis9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tratamento texto": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis10": {
      "main": [
        [
          {
            "node": "get empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tratamento da resposta": {
      "main": [
        [
          {
            "node": "Redis7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tratamento audio": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Reage Conversa Whatsapp": {
      "main": [
        [
          {
            "node": "Evolution API3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Le a mensagem": {
      "main": [
        [
          {
            "node": "Escreve ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escreve ": {
      "main": [
        [
          {
            "node": "Manda texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manda texto": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "CONSULTA CLIENTE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega base64": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variaveis JPG2": {
      "main": [
        [
          {
            "node": "Convert to JPG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JPG": {
      "main": [
        [
          {
            "node": "Analisa Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisa Imagem": {
      "main": [
        [
          {
            "node": "Edit Fields16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields16": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "tratamento da resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bloqueia_grupo": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Endereço": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cria Endereço": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edita Endereço": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Usuario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edita Cliente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        []
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields14": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Order_ID2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_at2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "169e08f9-9c3f-47c5-bc37-5f3c5cee4d87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "449cbcea2808803e9cfb25e96d6a67b3bf02fdf2ca434e33fb23a85de435da14"
  },
  "id": "igK01IVYukmUZCTy",
  "tags": []
}